.git
.astro
__pycache__/
.ipynb_checkpoints/
.idea/
airflow/.env
airflow/airflow_settings.yaml
airflow/.astro/
airflow/airflow.cfg
airflow/data
airflow/data_lake
airflow/postgres_data
airflow/webserver_config.py
terraform/variables.tf
terraform/terraform.tfstate
terraform.tfstate.backup
terraform/.terraform
terraform/.terraform.lock.hcl
app_db/.env
app_db/app_db_postgres_data
spark/build
spark/dist
spark/postgresql-42.4.1.jar
spark/ParseHtml.egg-info/
notebook/